#search-page {
        height: 90vh;
        overflow-y: hidden;
        margin-top:0px;
        /* background-image:url("/images/blueBckd.jpg"); */
        background: rgb(1,90,166);
    background: linear-gradient(360deg, rgba(1,90,166,1) 0%, rgba(2,193,230,1) 50%, rgba(1,90,166,1) 100%);
}

#home-page {
    height: 600px;
}

#contact-page {

    background: rgb(1,90,166);
    background: linear-gradient(360deg, rgba(1,90,166,1) 0%, rgba(2,193,230,1) 50%, rgba(1,90,166,1) 100%);
    height:100vh;
}